In [2]:
import csv

input_file = 'input.csv'  # Replace with your input file name
output_file = 'toyotads.csv'

with open("test.csv", 'r', newline='') as infile, open("toyotads.csv", 'w', newline='') as outfile:
    reader = csv.reader(infile)
    writer = csv.writer(outfile)
    
    for row in reader:
        cleaned_row = [cell.strip('"') for cell in row]
        writer.writerow(cleaned_row)

print(f"Processed file saved as {output_file}")

Processed file saved as toyotads.csv

In [8]:
def remove_quotes_from_file(input_file, output_file):
    try:
        # Read the file
        with open(input_file, 'r') as file:
            lines = file.readlines()

        # Remove quotation marks
        updated_lines = [line.replace('"', '') for line in lines]

        # Write the updated lines to a new file
        with open(output_file, 'w') as file:
            file.writelines(updated_lines)

        print(f"Quotation marks removed. Updated file saved as '{output_file}'.")
    except FileNotFoundError:
        print(f"Error: The file '{input_file}' does not exist.")
    except Exception as e:
        print(f"An error occurred: {e}")

# Replace 'input.txt' and 'output.txt' with your file names
remove_quotes_from_file('test.csv', 'output.csv')

TypeError: argument 1 must have a "write" method

In [6]:
import pandas as pd

df = pd.read_csv('toyotads.csv')
df.head()

,"﻿""ID",Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Price
0,"44020629,-,VOLKSWAGEN,Golf,2012,Hatchback,No,D...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"45784798,-,HYUNDAI,Sonata,2012,Sedan,Yes,Petro...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"45800257,-,NISSAN,Tiida,2005,Sedan,No,Petrol,1...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"45797981,975,VOLVO,XC90,2012,Jeep,Yes,Petrol,3...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"45814303,-,OPEL,Astra,1993,Hatchback,No,Petrol...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN